---
version: '3.8'

x-airflow-common: &airflow-common
  image: apache/airflow:2.9.2-python3.12
  env_file:
    - .env
  volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
    - ./requirements.txt:/requirements.txt
  networks:
    - airflow_network
  depends_on:
    - postgres-airflow-db
  entrypoint: /bin/bash
  command:
    - -c
    - |
      pip install -r /requirements.txt;
      airflow db init;
      airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com || true;
      (airflow webserver & airflow scheduler)
  environment:
  - AIRFLOW__SMTP__SMTP_HOST=smtp.gmail.com
  - AIRFLOW__SMTP__SMTP_PORT=587
  - AIRFLOW__SMTP__SMTP_STARTTLS=True
  - AIRFLOW__SMTP__SMTP_SSL=False
  - AIRFLOW__SMTP__SMTP_USER=zhanzakovdamir2000@gmail.com
  - AIRFLOW__SMTP__SMTP_PASSWORD=${AIRFLOW__SMTP__SMTP_PASSWORD}
  - AIRFLOW__SMTP__SMTP_MAIL_FROM=zhanzakovdamir2000@gmail.com

services:
  # Database for Airflow Metadata
  postgres-airflow-db:
    image: postgres:16
    container_name: postgres-airflow-db
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
    volumes:
      - airflow-db-data:/var/lib/postgresql/data
      # - /mnt/damir/.kaggle:/root/.kaggle:ro
    networks:
      - airflow_network
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      timeout: 5s
      retries: 5

  # Airflow Webserver and Scheduler
  airflow-services:
    <<: *airflow-common
    container_name: airflow_services
    ports:
      - "8081:8080"  # Expose Airflow on host port 8081
    healthcheck:
      test: ["CMD-SHELL", "[ -f /opt/airflow/airflow-webserver.pid ]"]
      interval: 10s
      timeout: 10s
      retries: 3

volumes:
  airflow-db-data:

networks:
  airflow_network:
    driver: bridge
